<div class="componente">
    <div class="sidebar" [ngClass]="btnmenu ? 'sidebar2' : 'null'" >
        <app-menu></app-menu>
    </div>
    <div class="main-content" [ngClass]="btnmenu ? 'main-content2' : 'null'">
        <div class="header" >
            <app-navbar></app-navbar>
        </div>

        <div class="main">
            <app-contenido></app-contenido>
        </div>

        <div *ngIf="mostrarSideUser">
            <app-side-user [@flipInXAnimation]="mostrarSideUser" (click)="clickSides($event)" class="side-user rounded shadow" ></app-side-user>
        </div>


    </div>
</div>