<div class="cards">
    <div class="card-single" routerLink="/reportes"> 
        <div>
            <h1>{{reportes}}</h1>
            <span>Reportes generados</span>
        </div>
        <div>
            <span class="las la-clipboard-list"></span>
        </div>
    </div>

   <!-- <div class="card-single"> 
        <div>
            <h1>79</h1>
            <span>Projects</span>
        </div>
        <div>
            <span class="las la-clipboard-list"></span>
        </div>
    </div>

    <div class="card-single"> 
        <div>
            <h1>124</h1>
            <span>Orders</span>
        </div>
        <div>
            <span class="las la-shopping-bag"></span>
        </div>
    </div>-->

    <div class="card-single" routerLink = "/reportes"> 
        <div>
            <h1>{{comentarios}}</h1>
            <span>Comentarios analizados</span>
        </div>
        <div>
            <span class="las la-comments"></span>
        </div>
    </div>
</div>