<div class="principal">
<div class="loader-principal" >
    <img src="/assets/imgLoading/imgLoading.svg" alt="">
    <div class="loader-container">
        <div class="loader"></div>
        <div class="loader2"></div>
        <div class="loader3"></div>
        <div class="loader4"></div>
    </div>
    <div class="procesar">
        <h2>Procesando comentario...</h2>
    </div>
    <div class="procesar2">
        <h2><span class="lab la-accusoft"></span>Análisis de sentimientos</h2>
    </div>
</div>
</div>