

#nav-toggle:checked + .sidebar {
    width: 70px;
}
/*se realizaron cambios*/
#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar .perfil,/*cambio*/
#nav-toggle:checked + .sidebar li{
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a{
    padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar .perfil h2 span:last-child,/*cambio*/
#nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
    width: calc(100% - 70px);
    left: 70px;
}

.main-content{
    transition: margin-left 300ms;
    margin-left: 345px;
}

header  {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: left  300ms;
}

#nav-toggle {
    display: none;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    color: #f1f5f9;
    padding: 1rem 1rem;
    font-size: 1rem;
    background-color: var(--main-color);
    border-top-left-radius:50px 50px ;
    border-bottom-left-radius: 50px 50px;
}

.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border:none;
    outline: none;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%; /*para dejar redonda la imagen del avatar*/
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
}