<div class="analizar-comentario">
  
  <div class="alert alert-primary alerta" role="alert">
 <h2>Analisis de comentario </h2>
</div>

<form #myForm="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group contenedor">
    <label class="text-muted m-0 text-pequeno">Comentario</label>
    <input
      type="text"
      formControlName="comentario"
      class="form-control inputexto"
      [ngClass]="
        submitted && form.controls['comentario'].errors
          ? 'is-invalid'
          : !submitted && form.controls['comentario'].valid
          ? 'is-valid'
          : submitted && form.controls['comentario'].valid
          ? 'is-valid'
          : null
      "
    />
    <div
      *ngIf="submitted && form.controls['comentario'].errors"
      class="invalid-feedback"
    >
      <div *ngIf="form.controls['comentario'].errors.required">
        El comentario es requerido
      </div>
      <div *ngIf="form.controls['comentario'].errors.minlength">
        La comentario debe tener al menos 4 caracteres
      </div>
      <div *ngIf="form.controls['comentario'].errors.maxlength">
        El comentario debe de contener maximo 500 caracteres
      </div>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-outline-info rounded-pill enviar">
      <span>Agregar comentario</span>
    </button>
  </div>
</form>
<br />
<!-- Mostrar los comentarios -->
<div class="h-100" class="ex1">
  <label class="text-muted m-0 text-pequeno">Comentarios agregados : </label>

  <div class="card">


    <p-table #dt [value]="comentarios" 
      [globalFilterFields]="['name','country.name','representative.name','status']" 
      [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true">
  
      <ng-template pTemplate="header">
        <tr>
  
          <th pSortableColumn="name" style="
    width: 90%;" >Comentario <p-sortIcon field="name"></p-sortIcon>
          </th>
  
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Comentario>
        <tr>
  
          <td>{{Comentario["comentario"]}}</td>
  
          <td>
  
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="quitar(Comentario)"></button>
          </td>
        </tr>
      </ng-template>
  
    </p-table>
  </div>
  
  


  


  <!-- <div name="tipoPregunta" *ngFor="let comentario of comentarios">
    <div
      name="tipoPregunta"
      *ngFor="let item of comentario | keyvalue; first as isFirst"
    >
      <label class="text-muted m-0 text-pequeno" *ngIf="isFirst">
        {{ item.value }}
      </label>
      <label *ngIf="isFirst" (click)="quitar(comentario)">
        <i class="fas fa-trash"></i>
      </label>
    </div>
  </div> -->
</div>

<div class="form-group">
  <button
    class="btn btn-outline-info rounded-pill enviar"
    (click)="enviarcomentario()"
  >
    <span>Enviar comentario</span>
  </button>
</div>

</div>
