.contenedor {
  width: 50%;
  left: 2%;
  position: relative;
  padding: 20px;
}

.enviar{
    left: 20%;
position: relative;
}

.alerta{
    width: 53%;
}
div.ex1 {
  height: 15rem;
  overflow: scroll;
  width: 55%;
}